* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eeeded;
  min-height: 100%;
}
html {
  font-size: 62.5%;
}
img {
  width: 19rem;
}
nav {
  background-color: #cee6f3;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
#cumples {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div {
  margin: 1rem;
}
h1 {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
section {
  background-color: azure;
  padding: 1rem;
}
input,
label {
  font-size: 1.5rem;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #8cc0de;
}
li {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: #f31559;
  color: white;
  padding: 1rem;
  border-radius: 10%;
  margin: 1rem;
}
.texto {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 2rem;
}
footer {
  background-color: #1d5d9b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.imgCumple {
  display: inline-block;
  vertical-align: middle;
  height: 10rem;
  width: auto;
  margin: 1rem 3rem;
}

@media (max-width: 425px) {
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.3rem;
  }
}
